<!DOCTYPE html>
<html>
  <head>
    <title>Whaleapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= turbo_include_tags %>

  </head>

  <body data-theme="light">
    <button id="theme-toggle">Switch to Dark Mode</button>
    <%= yield %>
    <script>
      // Theme Toggle Script
      const body = document.body;
      const button = document.getElementById('theme-toggle');

      button.addEventListener('click', () => {
        const currentTheme = body.getAttribute('data-theme');
        const newTheme = currentTheme === 'light' ? 'dark' : 'light';
        body.setAttribute('data-theme', newTheme);
        button.textContent = newTheme === 'light' ? 'Switch to Dark Mode' : 'Switch to Light Mode';
      });
    </script>



    <ul>
     <% if user_signed_in? %>
        <li><%= link_to "Hi, #{current_user.email}", edit_user_registration_path %></li>
        <li>
          <%= form_tag(destroy_user_session_path, method: :delete, data: { turbo: false }) do %>
            <%= submit_tag 'Sign Out', style: 'border: none; background: none; color: #007bff; text-decoration: underline; cursor: pointer' %>
          <% end %>
        </li>
     <% else %>
       <li><%= link_to 'Sign In', new_user_session_path %></li>
       <li><%= link_to 'Sign Up', new_user_registration_path %></li>
     <% end %>
    </ul>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </body>
</html>
